body {
  background-color: #f7f7f7;
}

hr {
  border-color: #323643;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 5%;

}

h1 {
  color: #ff570c;
  font-family: Allura;
  font-size: 50px;

}

h3 {
  color: #606470;
  font-family: Tahoma;
}
